@font-face {
    font-family: CascadiaCode;
    src: url(CascadiaCode.ttf);
}
@font-face {
    font-family: SourceSansPro;
    font-weight: normal;
    src: url(SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SourceSansPro;
    font-weight: bold;
    src: url(SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: SourceSansPro;
    font-weight: 200;
    src: url(SourceSansPro-Light.ttf);
}
@font-face {
    font-family: SourceSansPro;
    font-style: italic;
    src: url(SourceSansPro-Italic.ttf);
}

.ctr {text-align: center;}
.nomgn {margin: 0px;}

h1 {
    font-family: SourceSansPro;
    font-weight: normal;
    letter-spacing: -0.03em;
}

h2 {
    font-family: SourceSansPro;
    font-weight: normal;
    color: rgb(131, 131, 131);
}

.main_content {
    margin: auto;
    max-width: 1000px;
}

.main_box {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(160, 160, 160);
    border-top: none;
    border-bottom: none;
    border-radius: 20px;
}

.main_box .box {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.main_box .box .row {flex-direction: row;}
.main_box .box .column {flex-direction: column;}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

canvas[id="weather_num"] {
    width: 100px;
}

canvas[id="weather_graph"] {
    width: 100%;
}

.num_stat {
    margin-left: 20px !important;
    box-shadow: rgb(241, 241, 241) 5px 5px 5px;
    border-radius: 20px;
    padding: 70px 20px 70px 20px;
    width: 200px;
    user-select: none;
}

.cctv_ctnr {
    padding: 20px;
    box-shadow: rgb(241, 241, 241) 5px 5px 5px;
    border-radius: 20px;
}

.btn_tiny {
    font-family: SourceSansPro;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(158, 232, 241);
    box-shadow: rgb(238, 238, 238) 5px 5px 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.btn_tiny:hover {background-color: rgb(140, 206, 226);}

.graph {
    box-shadow: rgb(241, 241, 241) 5px 5px 5px;
    width: 100%;
}