<!DOCTYPE html>
<head>
<title>Smarthome Hub</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main_content">
    <h1 class="ctr nomgn" style="margin-top: 30px;">SmartHome Hub</h1>
    <h2 class="ctr nomgn">v1.0</h2>
    <div class="main_box">
        <div class="box">
            <img id="cctv_img" src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Image">
            <canvas id="weather_num"></canvas>
        </div>
        <div class="box">
            <canvas id="weather_graph"></canvas>
        </div>
    </div>
</div>
</body>